.signupbox {
  width: 458px;
  height: 625px;
  background-color: white;
  padding: 50px;
  margin: 50px;
  box-shadow: 0 0 25px rgb(0 0 0 / 7%);
  overflow: auto;
}
.holder {
  border-style: none;
  border-bottom-style: ridge;
  width: 390px;
  height: 30px;
  border-bottom-color: #52d3c7;
  margin-bottom: 30px;
  padding: 5px 12px;
}

.btn {
  padding: 5px 16px;
  line-height: inherit;
  letter-spacing: 1px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #33cabb;
  border-color: #33cabb;
  cursor: pointer;
  text-transform: uppercase;
  width: 417px;
  height: 40px;
  margin-top: 5px;
  color: snow;
}
